.folder-container {
  position: relative;
  width: 127px;
  height: 133px;
  cursor: pointer;
}

.folder-inner-container {
  display: flex;
  flex-direction: column;
  width: 127px;
  height: 133px;
  background: #D1D1D1;
  border: 1px solid #D1D1D1;
  border-radius: 7px;
  padding: 7px 8px;
  cursor: pointer;
}

.folder-container .folder-polygon {
  position: absolute;
  width: 33px;
  height: 24px;
  background: inherit;
  content: "";
  background: #D1D1D1;
  border: inherit;
  border-radius: 7px;
  left: 12px;
  top: -12px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.folder-container .folder-header{
  display: flex;
  justify-content: flex-end;
}

.folder-container .folder-header button{
  background: none;
}

.folder-container .folder-name{
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: auto 0 11px 0;
}

.folder-container .box-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  top: 0;
  left: 0;
  z-index: -2;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}