@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;900&display=swap');

.container {
  width: 100%;
  min-height: 100vh;
  padding: 34px 0;
  background-color: #F2F2F2;
  font-family: 'Nanum Gothic', 'Noto Sans KR', sans-serif;
}

.container > .inner-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 862px;
}

header {
  width: 100%;
  display: flex;
  margin-bottom: 58px; 
  justify-content: flex-end;
}

.content-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  padding: 17px 0;
  min-height: 250px;
}

.all-page-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button-add-page{
  width: 111px;
  height: 38px;
  background: #D9D9D9;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #686868;
}